.body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 500;
    background-color: var(--white-color);
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    @media screen and (max-width: 1200px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  .section-portfolio {
    /* В макете нет верхнего падинга поэтому обнуляем */
    padding-top: 0;
    padding-bottom: 94px;
  }
  .conteiner {
    /* outline: 2px solid tomato; */
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
      @include mobile {
        width: 480px;
      }
      @include tablet {
        width: 768px;
      }
      @include desktop {
        width: 1200px;
      }
  }
  .no-scroll {
    overflow: hidden;
  }