:root {
    --brand-color: #000000;
    --gray-color: #757575;
    --blue-color: #2196f3;
    --try-button-focus: cornflowerblue;
    --white-color: #ffffff;
    --our-team-bg: #f5f4fa;
    --main-bg-color: #2f303a;
    --button-portfolio-color: #212121;
    --portfolio-border: #eeeeee;
    --header-border: #ececec;
    --section-second: #f5f4fa;
    --fill-color: #afb1b8;
    --hero-grad: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))
  }